@model projeodeviburdur.Models.TuristikYerler

@{
    ViewBag.Title = "Sil";
}

<h2>Sil</h2>

<h3>Bu öğeyi silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>TuristikYerler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TuristikYerler1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuristikYerler1)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
